.contents {
    overflow-x:auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
    font-size: 18px;
}

th, td {
    border: 5px solid #e2e2e2;
    padding: 15px;
}

th {
    width: 50%;
    font-family: "Roboto Thin";
}

tr:hover {
    background-color: #f5f5f5;
}

caption {
    padding-bottom: 20px;
}

.difficulty > div {
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
}

.difficulty {
    display: flex;
    justify-content: center;
}

.mentors {
    display: inline-block;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.mentors > a {
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
    background-color: #684c96;
    color: #fff;
    text-decoration: none;
}

.listtable {
    padding-top: 10px;
    padding-bottom: 10px;
}
