{% extends "base.html" %}

{% block page_title %}
  {{ site_title }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="../assets/css/home-style.css" type="text/css">
{% endblock %}

{% block titles %}
<div style="font-size: 20px">09 Dec 2018</div>
{% endblock %}

{% block white_bg %}
  {% for item in textsection %}
      {{ item.content }} <br>
  {% endfor %}{# for item in textsection #}
{% endblock %}
