{% extends "base.html" %}

{% block page_title %}
Mentors I interacted with
{% endblock %}

{% block white_bg %}
<div class="contents">
  <table>
    <tr>
      <th style="width: 20%">Github Account</th>
      <th style="width: 20%">Organization</th>
      <th>Tasks</th>
    </tr>

  {% for mtr in mentors %}
    <tr>
      <td><a href="https://github.com/{{ mtr.username }}">{{ mtr.username }}</a></th>
      <td>
        <a href="{{ mtr.organization.link }}">{{ mtr.organization.name }}</a>
      </td>
      <td>
      {% set m_tasks = mtr.tasks.split(',') %}
      {% for curtask in m_tasks %}
      <div class="task">
        <a href="../{{ curtask }}">{{ curtask }}</a>
      </div>
      {% endfor %}
      </td>
    </tr>
  {% endfor %}{# for mtr in mentor #}
  </table>
</div>
{% endblock %}
