{% extends "base.html" %}

{% block page_title %}
Repositories I interacted with
{% endblock %}

{% block white_bg %}

<div class="contents">
  <table>
    <tr>
      <th>Repository</th>
    </tr>

  {% for repo in repository %}
    <tr>
      <td><a href="{{ repo.link }}">{{ repo.name }}</a></th>
    </tr>
  {% endfor %}{# for repo in repository #}
  </table>
</div>
{% endblock %}
