{% import 'macros.jinja2' as m %}
{% extends "base.html" %}

{% block page_title %}
Task: <a href="https://codein.withgoogle.com/dashboard/task-instances/{{ task.id }}">{{ task.title }}</a>
{% endblock %}

{% block white_bg %}
<div class="contents">
  <table>
    <tr>
      <th>Task Order</th>
      <td>{{ task.task_num }}</td>
    </tr>

    <tr>
      <th>Organization</th>
      <td>
        <a href="{{ task.organization.link }}">{{ task.organization.name }}</a>
      </td>
    </tr>

    <tr>
      <th>Task Difficulty</th>
      <td>
        <div class="difficulty" style="justify-content: flex-start">
        <div style="background-color: {{ task.difficulty.color }}">{{ task.difficulty.name }}</div>
        </div>
      </td>
    </tr>

    <tr>
      <th>Time Taken</th>
      <td>
        {{ task.time_taken }}
      </td>
    </tr>

    {% if task.repository %}
    <tr>
      <th>Repository</th>
      <td>
        <a href="{{ task.repository.link }}">{{ task.repository.name }}</a>
      </td>
    </tr>
    {% endif %}{# if task.repository #}

    {% if task.pr %}
    <tr>
      <th>Pull Request</th>
      <td>
        <a href="{{ task.pr.link }}">{{ task.repository.name }}#{{ task.pr.id }}</a>
      </td>
    </tr>
    {% endif %}{# if task.pr #}
    
    {% if task.issue %}
    <tr>
      <th>Issue</th>
      <td>
        <a href="{{ task.issue.link }}">{{ task.repository.name }}#{{ task.issue.id }}</a>
      </td>
    </tr>
    {% endif %}{# if task.issue #}

    <tr>
      <th>Mentors</th>
      <td>
        {% for item in task.mentors %}
        <div class="mentors">
          <a href="https://github.com/{{ item.username }}">{{ item.username }}</a>
        </div>
        {% endfor %}{# for item in task.mentors #}
      </td>
    </tr>
  </table>
</div>
{% endblock %}
